<% provide :title, t(".home") %>

<main>

  <section class="py-5 text-center container">
  <div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= t(".title") %></h1>
      <p class="lead text-muted"><%= t(".description") %></p>
      <p>
      <a href="#" class="btn btn-primary my-2"><%= t(".btnone") %></a>
      <a href="#" class="btn btn-secondary my-2"><%= t(".btntwo") %></a>
      </p>
  </div>
  </div>
  </section>

  <section id="lastest-properties" class=" mb-5 ">
    <div class="container marketing">
      <div class="row">
        <%= render "properties/lastest_properties"%>
      </div>
    </div>
  </section>

  <div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%= t(".row_title") %>
        <span class="text-muted"><%= t(".row_title") %></span></h2>
        <p class="lead"><%= t(".row_description") %></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
         width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
         aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
         focusable="false"><title>Placeholder</title><rect width="100%" height="100%"
         fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><%= t(".row_title") %>
        <span class="text-muted"><%= t(".row_title") %></span></h2>
        <p class="lead"><%= t(".row_description") %></p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
         width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
         aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
         focusable="false"><title>Placeholder</title><rect width="100%" height="100%"
         fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%= t(".row_title") %>
        <span class="text-muted"><%= t(".row_title") %></span></h2>
        <p class="lead"><%= t(".row_description") %></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
         width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
         aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
         focusable="false"><title>Placeholder</title><rect width="100%" height="100%"
         fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</main>
