<div class="backgrund-image">
  <%= image_tag(@property.photo , class: "property-thumb") %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 mt-4 ">
          <p class="h4 mb-0"><%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Rent" %></p>
          <p class="mb-2"><%= @property.address %></p>
        </div>
        <div class="col-md-6 mt-3 text-center">
          <div class="row mr-md-3 bg-light p-3">
            <div class="col-4">
              <i class="fas fa-bed text-muted m-0"></i><br />
              <small><%= @property.rooms %><%= t(".room") %></small>
            </div>
            <div class="col-4">
              <i class="fas fa-bath text-muted ml-1"></i><br />
              <small><%= @property.bathrooms %><%= t(".bathroom") %></small>
            </div>
            <div class="col-4">
              <i class="fas fa-car"></i><br />
              <small><%= @property.parking_spaces %><%= t(".parking") %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom mt-5 pt-5 pb-4">
          <div class="col-6">
            <strong><%=link_to t(".month_payment", variable: number_to_currency((@property.price/ 360), precision: 0)), "#", class: "h4 text-success" %></strong>
          </div>
          <div class="col-6 text-right">
            <strong><%= link_to t(".affrord"), "#", class: "text-success h4"%> </strong>
          </div>
      </div>
      <div class="row">
        <div class="col pt-4">
          <p class="h2"><%= t(".property_desc") %></p>
          <p><%= @property.name %></p>
          <%= simple_format @property.details%>
          <%= link_to t(".back"), request.referer, class: "btn btn-secondary btn-back" %>
        </div>
      </div>
    </div>
    <div class="col -4">
      <%= render "properties/agent_details"%>
      <iframe class="ml-lg-6 mt-3 " width="374" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1as2uf4ut2rf6f4-Xz57i2J80fJsOTrs&q=<%= @property.address.to_param %>" allowfullscreen></iframe>
    </div>
  </div>
  <section class="mt-5 mb-5">
    <div class="container" bis_skin_checked="1">
      <div class="row" bis_skin_checked="1">
        <div class="col-12">
          <p class="h3 mb-3"><%= t(".property_other") %></p>
        </div>
        <%= render "properties/lastest_properties", properties: @agent_properties %>
      </div>
    </div>
  </section>
</div>
